:host {
  display: block;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

select {
  padding: 8px;
}

.input-error {
  border: 1px solid #dc2626;
}

.error-message {
  color: #dc2626;
  font-size: 0.875rem;
}

