<div>
    {{ isDisplayNameVisible() ? ((displayName() || name()) | titlecase) : null }}
    @for (option of options(); track option) {
        <label>
            <input
                    (blur)="onBlur()"
                    (change)="optionChanged(option)"
                    [checked]="value() === option"
                    [name]="name()"
                    [value]="option"
                    type="radio"
            />
            {{ option }}
        </label>
    }
    @if (error()) {
        <p>{{ error() }}</p>
    }
</div>