<div class="wrapper" (focusout)="onBlur()">
    @if (isDisplayNameVisible()) {
        <span class="group-label">{{ (displayName() || name()) | titlecase }}</span>
    }
    <div class="options-wrapper">
        @for (option of options(); track option) {
            <div class="option-row">
                <p-radiobutton
                        [inputId]="name() + '-' + option"
                        [name]="name()"
                        [ngModel]="value()"
                        [value]="option"
                        (ngModelChange)="optionChanged($event)"></p-radiobutton>
                <label [for]="name() + '-' + option">{{ option }}</label>
            </div>
        }
    </div>
    @if (error()) {
        <small class="error-message">{{ error() }}</small>
    }
</div>
