button {
    padding: 16px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:disabled {
    background-color: #ccc;
    color: #000;
    cursor: not-allowed;
}

.ultimate-form-container {
    display: flex;
}

.ultimate-form-container--column {
    flex-direction: column;
}

.ultimate-form-container--row {
    flex-direction: row;
}