<div
        [class]="flexDirection()==='column'?
        'ultimate-form-container ultimate-form-container--column':
        'ultimate-form-container ultimate-form-container--row'"
        [style]="{'max-width': containerWidth(),'gap': gapBetweenFields()}"
>
    @for (field of fieldConfigs(); track field.name) {
        @if (field.type === 'text') {
            <app-text-input
                    (blur)="setFieldToBeEdited(field.name)"
                    (modify)="onFieldChange(field.name, $event)"
                    [class]="fieldsValidationErrors()[field.name] ? 'input-error' : ''"
                    [columnWidth]="field.width ?? ''"
                    [displayName]="field.displayName"
                    [error]="fieldsValidationErrors()[field.name]"
                    [hint]="field.hint"
                    [isDisplayNameVisible]="isDisplayNameVisible()"
                    [name]="field.name"
                    [value]="fieldValues()[field.name]"
            />
        }
        @if (field.type === 'password') {
            <app-password-input
                    (blur)="setFieldToBeEdited(field.name)"
                    (modify)="onFieldChange(field.name, $event)"
                    [class]="fieldsValidationErrors()[field.name] ? 'input-error' : ''"
                    [columnWidth]="field.width ?? ''"
                    [displayName]="field.displayName"
                    [error]="fieldsValidationErrors()[field.name]"
                    [hint]="field.hint"
                    [isDisplayNameVisible]="isDisplayNameVisible()"
                    [name]="field.name"
                    [value]="fieldValues()[field.name]"
            />
        }
        @if (field.type === 'number') {
            <app-number-input
                    (blur)="setFieldToBeEdited(field.name)"
                    (modify)="onFieldChange(field.name, $event)"
                    [class]="fieldsValidationErrors()[field.name] ? 'input-error' : ''"
                    [columnWidth]="field.width ?? ''"
                    [displayName]="field.displayName"
                    [error]="fieldsValidationErrors()[field.name]"
                    [hint]="field.hint"
                    [isDisplayNameVisible]="isDisplayNameVisible()"
                    [name]="field.name"
                    [value]="fieldValues()[field.name]"
            />
        }
        @if (field.type === 'radio') {
            <app-radio-group
                    (modify)="onFieldChange(field.name, $event)"
                    [class]="fieldsValidationErrors()[field.name] ? 'input-error' : ''"
                    [displayName]="field.displayName"
                    [error]="fieldsValidationErrors()[field.name]"
                    [isDisplayNameVisible]="isDisplayNameVisible()"
                    [name]="field.name"
                    [options]="field.options || []"
            />
        }
        @if (field.type === 'checkbox') {
            <app-checkbox-group
                    (modify)="onFieldChange(field.name, $event)"
                    [class]="fieldsValidationErrors()[field.name] ? 'input-error' : ''"
                    [displayName]="field.displayName"
                    [error]="fieldsValidationErrors()[field.name]"
                    [isDisplayNameVisible]="isDisplayNameVisible()"
                    [name]="field.name"
                    [options]="field.options || []"
            />
        }


    }
    @if (isButtonVisible()) {
        <button
                (click)="submitForm()"
                [disabled]="!allFieldsHasValue() || hasValidationErrors()"
        >Submit
        </button>
    }

</div>