@for (field of fieldConfigs(); track field.name) {
    @if (field.type === 'text') {
        <app-text-input
                (blur)="setFieldToBeEdited(field.name)"
                (change)="onFieldChange(field.name, $event)"
                [class]="fieldsValidationErrors()[field.name] ? 'input-error' : ''"
                [displayName]="field.displayName"
                [error]="fieldsValidationErrors()[field.name]"
                [hint]="field.hint"
                [name]="field.name"
                [value]="fieldValues()[field.name]"
        />
    }


}
<button
        (click)="submitForm()"
        [disabled]="!allFieldsHasValue() || hasValidationErrors()"
>Submit
</button>
