<div class="wrapper">
    {{ isDisplayNameVisible() ? ((displayName() || name()) | titlecase) : null }}
    @for (option of options(); track option) {
        <label>
            <input
                    (blur)="onBlur()"
                    (change)="optionChanged(option)"
                    [checked]="isChecked(option)"
                    [name]="name()"
                    [value]="option"
                    type="checkbox"
            />
            {{ option }}
        </label>
    }
    @if (error()) {
        <p>{{ error() }}</p>
    }
</div>