<div class="wrapper" (focusout)="onBlur()">
    @if (isDisplayNameVisible()) {
        <span class="group-label">{{ (displayName() || name()) | titlecase }}</span>
    }
    <div class="options-wrapper">
        @for (option of options(); track option) {
            <div class="option-row">
                <p-checkbox
                        [binary]="true"
                        [inputId]="name() + '-' + option"
                        [name]="name()"
                        [ngModel]="isChecked(option)"
                        (ngModelChange)="optionChanged(option, $event)"
                />
                <label [for]="name() + '-' + option">{{ option }}</label>
            </div>
        }
    </div>
</div>
@if (error()) {
  <small class="error-message">{{ error() }}</small>
}
